* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    width: 50%;
    margin: 10rem auto;
}

fieldset {
    padding: 1rem;
    border: 1px black solid;
}

#email {
    height: 1.5rem;
    width: 40%;
}

#password {
    height: 1.5rem;
    width: 40%;
}

#submit {
    margin-top: 1rem;
}

#reset {
    margin-top: 1rem;
    margin-left: 0.4rem;
}
